.slider {
  padding-top: 110px;
}

.slider-wrapper {
  width: 770px;
  margin: 0 auto;
  position: relative;
  img {
    width: 100%;
  }
}

.slick-arrow {
  width: 30px;
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  li button {
    border: none;
    font-size: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
  .slick-active button {
    background: #c70101;
    width: 18px;
    height: 18px;
  }
}

/* .slick-prev {
  float: left;
  margin-top: 25%;
  margin-right: 60px;
  img {
    width: 100%;
    margin-right: 60px;
  }
}

.slick-next {
  float: right;
  margin-top: 25%;
  img {
    width: 100%;
    margin-left: 60px;
  }
} */
