<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <a class="logo" href="#"
        ><img class="logo-img" src="img/logo.png" alt="logo"
      /></a>
      <p class="header-official">
        Официальный представитель<br />
        <span>Garmin, Polar, Suunto</span>
      </p>
      <div class="header-contats">
        <a class="header-tel" href="tel:+380739228974">+38 (073) 922-89-74</a
        ><br />
        <button data-modal="modal-consultation" class="btn">
          заказать звонок
        </button>
      </div>
    </div>
  </div>
</header>
